<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ns" default="robot1"/>
  <arg name="X" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="Z" default="0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find abc_description)/urdf/abc_body.xacro" />

  <group ns="$(arg ns)">
    <param name="robot_description" command="$(find xacro)/xacro $(find abc_description)/urdf/abc_body.xacro" />
    <param name="tf_prefix" value="$(arg ns)"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" args="-urdf -model $(arg ns) -param robot_description -x  $(arg X) -y  $(arg Y) -z  $(arg Z)"/>

    <node name="move_distance_server" pkg="abc_control" type="move_distance_server" args="$(arg ns)" output="screen"/>
    <!-- <node name="move_distance_client" pkg="abc_control" type="move_distance_client" args="$(arg ns)" output="screen"/> -->
    <node name="agent" pkg="abc_control" type="agent" output="screen"/>
  </group>
</launch>
